html, body{
    height: 100%;
}

body{
    background-color: lightslategrey;
}

.container{
    background-color: white;
    height: 100vh;
}

footer{
    position: absolute;
    bottom: 0px;
}
.flip-horizontal{
    transform: scale(-1,1);
}